/* CSS Document */

div#bxpressOptions{
	padding: 4px;
	margin-top: 10px;
	min-height: 20px;
}
div#bxpressOptions div.topics{
	float: right;
	text-align: right;
}
div#bxpressOptions div.topics a{
	padding: 3px 3px 3px 20px;
}
div#bxpressOptions a.newtopic{
	background: url(../images/newtopic.png) no-repeat left;
}
div#bxpressOptions a.reply{
    background: url(../images/reply.png) no-repeat left;
}

.bx_posts_container{
    padding: 0px;
    border: 0;
}
.bx_post{
    padding: 1px;
}
.bx_post .bx_post_head{
    padding: 3px;
    font-size: 0.9em;
    font-weight: normal;
    text-align: right;
    color: #999;
}
.bx_post_content{
    overflow: hidden;
    display: table;
    width: 100%;
    border-spacing: 1px;
    border: 1px solid #CCC;
}
.bx_row{
    display: table-row;
}
.bx_post_content .bx_post_user{
    display: table-cell;
    width: 150px;
    font-size: 0.85em;
    background: #ebebeb;
    border-right: 1px solid #CCC;
    padding: 4px;
}
.bx_post_content .bx_post_text{
    display: table-cell;
    padding: 0 10px;
    background: #fff;
    border-radius: 0 4px 4px 0;
}
dt, dd{
	margin: 0;
}
.bx_options{
	padding: 4px;
	text-align: right;
	font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 10px;
}
.bbUserData{
	width: 150px;
	padding: 4px 4px 4px 20px;
}
dl dd.bbOnline{
	font-weight: bold;
	color: #000;
}
dl dd.bbOffline{
	font-weight: bold;
	color: #999;
}

div.bxpressIcons{
	font-size: 11px;
	color: #666;
	padding: 4px;
	margin-top: 10px;
}
.bxpressOptions{
    font-size: 0.8em;
    padding: 4px 0;
}

fieldset{
	margin-top: 20px;
}
.bbwarning{
	color: #FF0000;
	font-size: 12px;
}
.bbouter{
	border: 1px solid #c8c8c8;
	padding: 1px;
}
.bbouter .odd{
	min-height: 18px;
	padding: 4px;
        overflow: hidden;
}
.bbouter .moderate_legend{
	display: block;
        float: left;
        margin: 6px 0 0 0;
}
.bbcomboforums{
	float: right;
	
}
div.bbPowered{
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	line-height: 150%;
}
.bbNavPages{
	float: left;
	margin-right: 40px;
}
.bbAnnouncement{
	padding:1px;
	background-color: #fed22f;
	margin: 10px 0;
}
.bbAnnBody{
	padding: 12px 10px 12px 45px;
	background-color: #fff;
        background: #FFED97 url(../images/announcement.png) no-repeat 5px;
}
.bbAnnBody p{margin:0;}
.bx_header_options{
    overflow: hidden;
    font-weight: normal;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
    padding: 0 0 5px 0;
}

/* Listings */
.bxpress_listing{
    line-height: 150%;
}
.bxpress_listing .title{
    font-weight: bold;
}
.bxpress_listing .pages{
    font-family: monospace;
}
.bxpress_listing .text{
    display: block;
    font-size: 0.9em;
}
.bxpress_listing .by{
    font-size: 0.9em;
    font-style: italic;
}